@import url(http://fonts.googleapis.com/css?family=Pontano+Sans);

body {
    background-color: lightgrey;
	font-size: 16px;
	}

* {
	margin:0;
	padding:0;
}

/** element defaults **/
table {
	width: 100%;
	text-align: right;
}

th, td {
	padding: 10px 10px;
}

th {
	
	background: transparent linear-gradient(#EEE, #FFF) repeat scroll 0% 0%;
}

td {
	
}


h1 {
	color: #E9F292;
	font-size: 35px;
	font-family: 16px/14px solido_book,helvetica,"arial narrow";
}

h2 {
	color: #000;
	font-size: 30px;
	letter-spacing: 0px;
	font-weight: lighter;
	padding-left: 75px;
	margin: 0;
	font-family: 16px/14px solido_book,helvetica,"arial narrow";
}

h3 {
	float: right;
	color: #DE2D3A;
	font-size: 24px;
	padding-right: 75px;
	font-weight: 900;
	margin-bottom: 10px;
	letter-spacing: -1px;
	font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
}






#container {
	width: 960px;
	margin: 0px auto;
	padding: 10px;
	box-shadow: 0 5px 5px 5px #CCCCCC;
	background-color: #FFFFFF;
}

header {
	padding: 35px 0;
	background: #fff;
	margin: 0 auto;
	
}

header h1 a, header h1 a:hover {
 color: #799AC0;
    font-size: 40px;
    font-weight: normal;
    letter-spacing: -2px;
    line-height:45px;
    text-decoration: none;
    text-transform: uppercase;
}
header h1 a span { 
	color: #DE2D3A;
}

header h2 {
	color: #E6E7E9;
	font-size: 13px;
	position: relative;
	top: -5px;
	letter-spacing: 0;
}




img.header-image { 
	padding-top: 10px;
	margin-bottom: -3px; 
	width: 100%;
	height: 400px;
}

#body {
	background: none;
	margin:0 auto;
 	padding: 0;
	clear: both;
}

#content {
    float: right;
    width: 80%;
}

.sidebar {
    float: left;
    width: 20%;
	margin-top: 10px;
}

.sidebar h4 {
	padding-bottom: 0;
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
	font-weight: normal;
	padding: 4px 4px;
	border-bottom: 1px solid #0000FF;
  	background-color: #9ed3d8;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar ul li {
	background-color: #9ed3d8;
	margin-bottom: 10px;footer-bottom
	line-height: 1.9em;
}

.sidebar li ul {
    list-style: none outside none;
    margin: 0px;
}

.sidebar li ul li {
	display: block;
	border-top: none;
	padding: 4px;
	margin: 0;
	line-height: 1.5em;
	font-size: 13.5px;
}





.sidebar li ul li a {
	font-weight: normal;
	text-decoration: none;
	color: #00008B;
}

.sidebar li ul li a:hover {
	color: #87CEEB;
}


.sidebar li ul li a.readmore {
   color: #799AC0;
   font-weight: bold;
}

.clear {
	clear: both;
}

footer {
	margin:20px auto 0;
	width: 960px;
}

footer p {
	text-align: left;
	color: #ccc;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

footer p a {
	color: #ccc;
	font-weight: bold;
}

.footer-content {
	padding: 5px 5px 10px;
	background: #F5F5F5;
	border-top: 1px solid #ccc;
}

footer .footer-content ul {
	width: 150px;
	list-style: none;
	margin: 0 65px 0 0;
	padding: 0;
	float: left;
}

footer .footer-content li {	
	display: list-item;
}

footer .footer-content li a {
 color: #00008B;
 font: 400 15px/20px "solido_book",helvetica,"arial";
 text-decoration: none;
}

footer .footer-content li a:hover { 
	color: #000080;
}

footer .footer-content ul.endfooter {
	margin-right: 0;
}

footer .footer-content span.sitename {
	font-size: 40px;
	font-weight: normal;
	letter-spacing: -2px;
	color: #aaa;
	float: left;
}

footer .footer-bottom {
	border-top: #ccc 1px solid;
    padding: 12px 0 12px 5px;
    clear: both;
    background: #9ed3d8;
}

footer .footer-bottom p {
	text-align: center;
}

footer .footer-bottom p, footer .footer-bottom p a {
	color: #070c0c;
}

.submit-button {
  color: #900;
  font-weight: bold;
  width: 10em;  
  height: 2em;
}

.search_input {
    float: left;
    width: 560px;
    height: 32px;
    border: 1px solid #A0A0A0;
    padding: 7px 10px 1px;
    background: 0 0;
    font: 16px/14px solido_book,helvetica,"arial narrow";
}

.search_input1 {
    float: left;
    width: 560px;
    height: 42px;
    border: 1px solid #A0A0A0;
    padding: 7px 10px 1px;
    background: 0 0;
    font: 16px/14px solido_book,helvetica,"arial narrow";
}

.searchbutton {

   font-size: 18px;
    outline: none;
    float: left;
    height: 42px;
    width: 72px;
    border: 1px solid #00008B;
    color: #ffffff;
    background:#8db79f;
}

nav {
    float: none;
    width: 960px;
    overflow: hidden;
    background: #9ed3d8;
}

nav ul li.mainmenu {
    float: left;
    display: block;
    height: 40px;
    overflow: visible;
    text-align: center;
    font: 13px/14px solido_book,helvetica,"arial narrow";
}


nav ul li.mainmenu a {   
    padding: 15px 22px 13px 9px;
    display: block;
    color: #000;
    text-align: center;
    font-size: 13px;   
    text-decoration: none;
    height: 20px;
    white-space: nowrap;
	background-color:#9ed3d8;
}

nav ul li a:hover {	
	background-color: #4169E1;
	text-decoration: none;
}

ul.navigation {
  float:right;
}

ul.navigation li 
{
     padding: 5px 16px;       
     background-color: #F6CD71;
}

ul.navigation li a 
{
   display: block; 
   text-decoration: none; 
   color: #333334; 
   font-size: 15px;
   font-weight: bold;
   padding: 5px; 
 }
    
 ul.navigation > li {
    	display: inline-block; 
    	position: relative; 
    	border: 5px solid #e5e5e5;
 }
    ul.navigation > li ul {
    display: none; 
    position: absolute; 
    left: 0px;    
    width: 130px; 
    border: 1px solid #e5e5e5;   
    margin-top: 6px; 
   
    }
    ul.navigation > li:hover ul 
    {
    display: block;
    z-index: 0;
    }
    ul.navigation > li ul li {
    display: block;
    }


.autoplay { position:relative; height:332px; }
.autoplay img { position:absolute; left:0; top:0; }

.displaylist { padding:0; margin:0; width:100%; float:left;}
.displaylist ul { padding:0; margin:0; list-style:none; border:0; float:left;}
.displaylist ul li { float:left; margin:0; padding:0; border:0;width:185px;height:300px}
.displaylist ul li a { 
	float:left; 
	margin:0; 
	padding:15px 15px;  
	text-decoration:none; 
	font-family: "solido_book","helvetica condensed", "arial narrow";
    font-weight: normal;
    font-size: 15px;    
    text-align:center;
    color: #000080;	
    height:200px
}


div.ftr-main {
	float: left;
    margin: 10px 30px 10px 20px;	
}

div.ftr-main h2{
font: 400 20px/30px "solido_book",helvetica,"arial";
    color: #000080;
    margin: 0;
    padding: 0;
}
    

.displaylist ul li h4   {
    font-family: "solido_book","helvetica condensed", "arial narrow";
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    position: absolute;
    bottom: 65px;
    width: 199px
}

.displaylist ul li h5  {
	font-family: "solido_bold","helvetica condensed", "arial narrow";
    font-size: 16px;
    position: absolute;
    bottom: 40px;
    width: 199px;
}

#sign-in-up{
	
    width: 100%;
    height: 400px;
}

#csign-in-up{
	
    width: 100%;
    height: 700px;
	}

#sign-in h2 {
	    
    border-bottom: 1px solid #333;
    padding: 0;
    margin: 0 0 15px 0;
    font-size: 24px;
    color: #424242;
}

#sign-in {
	float: left;
    width: 400px;
}

#sign-up {
	float: right;
    width: 500px;
}





#sign-in form label

{
	display: block;
    color: #666;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 2px;
}

.signin-input-fields {
	display: block;
    margin-bottom: 15px;
}

#sign-in form {
	background: linear-gradient(#eeeeee, #ffffff);
    padding: 36px 50px 30px 50px;
}

.sign-in-up-button{
	background: linear-gradient(#000080, #000080);
    display: inline-block;
    text-decoration: none;
	float: right;	
    padding: 0 30px;
    font: bold 10pt/26pt sans-serif;
    height: 26pt;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    color: #FFF;
    border: 1px solid #eee;
    -webkit-box-shadow: #d8d8d8 0 2px 3px;
    -moz-box-shadow: #d8d8d8 0 2px 3px;
    box-shadow: #d8d8d8 0 2px 3px;
}

.wrapper{
	 width: 100%;    
	 border: none;   
}


 
 table h2{
    font-size: 20px;
    font-weight: bold;
    color: #707070;
    width: 174px;
    height: auto;
    line-height: 100%;
    padding: 0px;
    float: left;
    margin: 0px 0px 2px 0px;
 }
 
table h3{
    width: 162px;
    height: auto;
    float: left;
    padding: 0px;
    margin: 0px;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    line-height: 140%;
    color: #202020;
 }
 
 table h3 em{
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    color: #999999;
    float: left;
    width: 12px;
    height: auto;
    line-height: 100%;
    margin: 0px;
    padding: 0px;
 }
table h3 span{
    font-size: 36px;
    font-weight: bold;
    color: #202020;
    line-height: 80%;
    float: left;
}


.productDesc{
	
	text-align: center;
	color: #333334;
}


.login-error{
    background: #96babc	;
    color: #FFF;
    line-height: normal;    
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;    
    padding: 8px 10px;
    border-radius: 4px;
    width: 380px
}

.shopping-cart-empty{
	width:90%;
	display: inline;
    float: left;
    margin-left: 25px;
    margin-right: 25px;	
    height: 400px
}

.order-confirmation{
	width:90%;
	display: inline;
    float: left;
    margin-left: 25px;
    margin-right: 25px;	
    height: 380px
}

.order-confirmation h1{
	font-size: 26px;
    color: #777;
    line-height: 44px;
    border-bottom: 2px solid #777;
    margin-bottom: 10px;
    font-weight: bold; 
}
	
.order-confirmation h2{
	font-weight: bold;
	color: #22c152;
    font-size: 30px;
    margin: 25px 0px;
    width: 790px;
    text-align: center;
}

.order-confirmation p{
	font-size: 13px;
	text-align: center;
	margin-top: 50px;
	color:#333334;
}
.order-confirmation h3{
	font-weight: bold;
	color: #22c152;
    font-size: 22px;
    margin: 50px 0px;
    width: 790px;
    text-align: center;
    margin-top: 5px;
}
	
	

.shopping-cart{
	width:90%;
	display: inline;
    float: left;
    margin-left: 25px;
    margin-right: 25px;	
    height: auto;
}

.shopping-cart h1{
	font-size: 26px;
    color: #777;
    line-height: 44px;
    border-bottom: 2px solid #777;
    margin-bottom: 10px;
    font-weight: bold;    
}

.shopping-cart p{
	font-size: 13px;
	text-align: center;
}

.shopping-cart h2{
	font-weight: bold;
	color: #F00;
    font-size: 30px;
    margin: 50px 0px;
    width: 790px;
    text-align: center;
}


.shopping-cart-empty h1{
	font-size: 24px;
    color: #000000;
    line-height: 44px;
    border-bottom: 2px solid #777;
    margin-bottom: 10px;
    font-weight: bold;    
}

.shopping-cart-empty p{
	font-size: 13px;
	text-align: center;
	color: #000000;
}

.shopping-cart-empty h2{
	font-weight: bold;
	color: #000000;
    font-size: 30px;
    margin: 50px 0px;
    width: 790px;
    text-align: center;
}

#shoppingcart-content {
    float: right;
    width: 100%;
}

.shoppingcartitem-table{
	padding: 3px;
    border-collapse: collapse;
    font-size: 12px;
    width: 95%;
    margin: 0px 20px;
}

.shoppingcartitem-table th{
    background: #DDD;    
    font-size: 11px;
    text-align: center;
    padding: 3px 5px;
    font-weight: bold;
}

.shoppingcartitem-table tr{
    border-bottom: 1px dotted #999999;
}

.shoppingcartitem-table tr td{
    background: #FFF;
    margin: 3px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

.item-quantity{
    width: 20px;
    border: 1px solid #444;
    line-height: 140%;
    text-align: center;
    width: 30px;
}

.update-button {
    background:none!important;
    border:none; 
    padding:0!important;
    /*border is optional*/    
    color:#800080;
    text-decoration: underline;
    cursor: auto;
    font-size: 11px;
}

.shipping-h2{
	font-weight: bold;
	color: #777;
    font-size: 22px;
   
    width: 100%;
    text-align: center;
}

.shipping-input-fields {
	display: block;
    
}

.display-shoppingcart {
	table-layout: fixed;
	width: 100%;
}

.display-shoppingcart td{
	word-wrap:break-word;
}

.page-heading h1{
	font-size: 26px;
    color: #777;
    line-height: 44px;
    border-bottom: 2px solid #777;
    margin-bottom: 10px;
    font-weight: bold;
	}
